$title: #363838;
$text: #5A5A5A;
$header-link: rgb(54, 56, 56, 0.9);
$header-link-active: #979797;
$background-footer: #DFDFDF;
$copyright: #A1A1A1;
$social-link: #707070;
$border-tag: #454647;
$background-tag: #ffffff;
$background-tag-active: #FFEF35;
$color-tag: #8F8D8D;
$title-line-color: #6D7278;


%montserrat-700 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

%opensans-400 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

%opensans-600 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}