.footer {
	&__content {
		background-color: #DFDFDF;
	}

	&__inner {
		padding-top: 61px;
		padding-bottom: 80px;
	}

		&__copyright {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		text-align: center;
		line-height: 28px;
		color: #A1A1A1;
		background-color: #363838;
		padding: 42px 0px;
	}
}

.footer__contacts {
	&-title {
		@extend %montserrat-700;
		color: #363838;
		line-height: 23px;
		margin-bottom: 14px;
	}

	&-text {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		color: #5A5A5A;
		width: 476px;
		margin-bottom: 16px;
		
	}

	&-email {
		margin-bottom: 22px;
	}

	&-icon {
		margin-top: 6px;
		margin-right: 14px;
		width: 16px;
		height: 16px;
	}

	&-link {
		@extend %opensans-600;
		line-height: 28px;
		font-size: 14px;
		color: #363838;
	}
}

.footer__subscribe {
	&-email {
		padding-left: 18px;
		margin-right: 9px;
		width: 368px;
		height: 40px;
		border: 1px solid #383636;
		border-radius: 21px;
		opacity: 0.7;
		background-color: #DFDFDF;
	}

	&-email[type=text]::placeholder {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		color: #A1A1A1;
	}

	&-email[type=text]::-moz-placeholder {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		color: #A1A1A1;
	}

	&-btn {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
		@include no-btn();
		line-height: 28px;
		color: #FFFFF0;
		width: 160px;
		height: 40px;
		border-radius: 21px;
		background: #363838
	}
}

.footer__social-item + .footer__social-item,
.footer__menu-item + .footer__menu-item {
	margin-top: 15px;
}

.footer__social {
	margin-left: 99px;

	&-item {
		
	}

	&-img {
		display: inline-block;
		width: 16px;
		height: 18px;
		margin-top: 5px;
		margin-right: 14px;
	}

	&-link {
		@extend %opensans-600;
		display: flex;
		font-size: 14px;
		color: #707070;
	}
}

.footer__menu {
	margin-left: 176px;

	&-link {
		@extend %opensans-600;
		font-size: 14px;
		line-height: 28px;
		color: #707070;
	}
}





