<footer class="footer">
	<div class="footer__content">
		<div class="container">
			<div class="footer__inner flex">
				<div class="footer__contacts">
					<h3 class="footer__contacts-title">Contact Us</h3>
					<p class="footer__contacts-text">Keffiyeh poutine etsy, paleo cray put a bird on it microdosing schlitz you probably occupy</p>
					<div class="footer__contacts-email flex">
						<img class="footer__contacts-icon" src="images/sprite.svg#sprite--envelope" alt="E-mail">
						<a class="footer__contacts-link" href="mailto:ouremailaddress@email.com">ouremailaddress@email.com</a>
					</div>
					<div class="footer__subscribe">
						<form class="footer__subscribe-form">
							@@include('../bem-blocks/_form.html', {
								"id": "subscribe",
								"placeholder": "Subscribe by email"
							})
							@@include('../bem-blocks/_btn-dark.html', {"button": "Send"})
						</form>
					</div>
				</div>
				<div class="footer__social">
					<ul class="footer__social-list">
						<li class="footer__social-item">							
							<a href="#" class="footer__social-link">
								<img class="footer__social-img" src="images/sprite.svg#sprite--facebook" alt="Facebook">
								Facebook</a>
						</li>
						<li class="footer__social-item">							
							<a href="#" class="footer__social-link">
								<img class="footer__social-img" src="images/sprite.svg#sprite--instagram" alt="Instagram">
								Instagram</a>
						</li>
						<li class="footer__social-item">							
							<a href="#" class="footer__social-link">
								<img class="footer__social-img" src="images/sprite.svg#sprite--Pinterest" alt="Pinterest">
								Pinterest</a>
						</li>
						<li class="footer__social-item">							
							<a href="#" class="footer__social-link">
								<img class="footer__social-img" src="images/sprite.svg#sprite--whatsapp" alt="WhatsApp">
								WhatsApp</a>
						</li>
						<li class="footer__social-item">							
							<a href="#" class="footer__social-link">
								<img class="footer__social-img" src="images/sprite.svg#sprite--youtube" alt="Youtube">
								Youtube</a>
						</li>
					</ul>
				</div>
				<nav class="footer__menu">
					<ul class="footer__menu-list">
						<li class="footer__menu-item">
							<a href="" class="footer__menu-link">Delivery</a>
						</li>
						<li class="footer__menu-item">
							<a href="" class="footer__menu-link">FAQ</a>
						</li>
						<li class="footer__menu-item">
							<a href="" class="footer__menu-link">Help</a>
						</li>
						<li class="footer__menu-item">
							<a href="" class="footer__menu-link">More About Us</a>
						</li>
					</ul>
				</nav>
			</div>
		</div> 
	</div>
	<div class="footer__copyright">
		674 Gonzales Drive.   Washington, PA 15301
	</div>
</footer>