<div class="gallery-small">
	<div class="gallery-small__item">
		<img class="gallery-small-img" src="@@src1" alt="images">
		<div class="gallery-small__hover">
			<h4 class="gallery-small__hover-title title">@@title1</h4><!-- /.gallery-small-hover--title -->
			<p class="gallery-small__hover-text text">@@text1</p><!-- /.gallery-small-hover--text -->
		</div><!-- /.gallery-small-hover -->
	</div><!-- /.gallery-small-item -->
	<div class="gallery-small__item">
		<img class="gallery-small-img" src="@@src2" alt="images">
		<div class="gallery-small__hover">
			<h4 class="gallery-small__hover-title title">@@title2</h4><!-- /.gallery-small-hover--title -->
			<p class="gallery-small__hover-text text">@@text2</p><!-- /.gallery-small-hover--text -->
		</div><!-- /.gallery-small-hover -->
	</div><!-- /.gallery-small-item -->
	<div class="gallery-small__item">
		<img class="gallery-small-img" src="@@src3" alt="images">
		<div class="gallery-small__hover">
			<h4 class="gallery-small__hover-title title">@@title3</h4><!-- /.gallery-small-hover--title -->
			<p class="gallery-small__hover-text text">@@text3</p><!-- /.gallery-small-hover--text -->
		</div><!-- /.gallery-small-hover -->
	</div><!-- /.gallery-small-item -->
	<div class="gallery-small__item">
		<img class="gallery-small-img" src="@@src4" alt="images">
		<div class="gallery-small__hover">
			<h4 class="gallery-small__hover-title title">@@title4</h4><!-- /.gallery-small-hover--title -->
			<p class="gallery-small__hover-text text">@@text4</p><!-- /.gallery-small-hover--text -->
		</div><!-- /.gallery-small-hover -->
	</div><!-- /.gallery-small-item -->
	<div class="gallery-small__item">
		<img class="gallery-small-img" src="@@src5" alt="images">
		<div class="gallery-small__hover">
			<h4 class="gallery-small__hover-title title">@@title5</h4><!-- /.gallery-small-hover--title -->
			<p class="gallery-small__hover-text text">@@text5</p><!-- /.gallery-small-hover--text -->
		</div><!-- /.gallery-small-hover -->
	</div><!-- /.gallery-small-item -->
</div><!-- /.gallery-small -->