<div class="progressbar">
	<div class="progressbar__item title">
		<div class="progressbar__title">Design and technical drawings</div>
		<div class="progressbar__persent">80%</div>
	</div>
	<div class="progressbar__progress"></div>
	<div class="progressbar__item title">
		<div class="progressbar__title">Measurmentss</div>
		<div class="progressbar__persent">70%</div>
	</div>
	<div class="progressbar__progress"></div>
	<div class="progressbar__item title">
		<div class="progressbar__title">Furniture functionality analysis</div>
		<div class="progressbar__persent">75%</div>
	</div>
	<div class="progressbar__progress"></div>
	<div class="progressbar__item title">
		<div class="progressbar__title">Interior visualization</div>
		<div class="progressbar__persent">40%</div>
	</div>
	<div class="progressbar__progress"></div>
</div>