<div class="main__container">
	<div class="swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="slider__content">
					<img src="../../images/content/slider_img_1.webp" alt="" class="slider-img">
					<div class="slider__info">
						<h4 class="slider__title">Furniture collection</h4><!-- /.slider__title title -->
						<p class="slider__text text">Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint</p><!-- /.slider__text text -->
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slider__content">
					<img src="../../images/content/slider_img_2.webp" alt="" class="slider-img">
					<div class="slider__info">
						<h4 class="slider__title">Furniture collection</h4><!-- /.slider__title title -->
						<p class="slider__text text">Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint</p><!-- /.slider__text text -->
					</div>
				</div>
			</div>
			<div class="swiper-slide">
				<div class="slider__content">
					<img src="../../images/content/slider_img_3.webp" alt="" class="slider-img">
					<div class="slider__info">
						<h4 class="slider__title">Furniture collection</h4><!-- /.slider__title title -->
						<p class="slider__text text">Deep v you probably haven't heard of them banh mi synth actually affogato. Aesthetic lyft ethical drinking vinegar austint</p><!-- /.slider__text text -->
					</div>
				</div>
			</div>
		</div>
		<div class="swiper-pagination"></div>
	</div>
</div>