<div class="tabs flex --just-space">
	@@include('_btn-light.html', {
		"active": "btn-light--active",
		"data": "badroom",
		"button": "Bedroom furniture"
	})

	@@include('_btn-light.html', {
		"active": "",
		"data": "living_room",
		"button": "Living room furniture"
	})

	@@include('_btn-light.html', {
		"active": "",
		"data": "office",
		"button": "Office furniture"
	})

	@@include('_btn-light.html', {
		"active": "",
		"data": "dining_room",
		"button": "Dining room futniture"
	})

	@@include('_btn-light.html', {
		"active": "",
		"data": "chair",
		"button": "Chair"
	})

</div>